<div>
  <%= form_with(model: [@post, Comment.new], url: user_post_comments_path(@post.author, @post), local: true, html: { class: "form" }) do |form| %>
    <div class="mb-3">
      <%= form.label :text, class: "form-label custom-label" %>
      <%= form.text_area :text, class: "form-control custom-input", style: "height: 120px; width: 300px;" %>
    </div>
    <div class="mb-3">
      <%= form.submit 'Create Comment', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
